* { box-sizing: border-box; }

ul {
  
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

li {
  display: inline-block;
  list-style: none;
}

.intro {
  padding: 1em 0 0;
  border-bottom: 1px solid black;
}

.projects,
.about {
  padding: 2em 0 0;
}

.projects li {
  margin: 0 0 2.2em 0;
}

.sec-title,
.intro h1 {
  padding-left: 15px;
}

.projects li div {
  margin: 0 auto; 
}

.thumb {
  background: purple;
  width: 100%;
  height: 220px;
}

.about {
  display: inline-block;
}

.about,
footer {
  border-top: 1px solid black;
}

.profile {
  margin: 1.62em 1.8em 0 0;
}

/*Typography*/

body {
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
}

.intro h1,
h3.sec-title,
.desc h4 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.intro h1 {
  font-weight: 600;
  font-size: 1.4em;
}

.intro .slash {
  font-size: 5em;
  margin: 0 -0.06em;
}

.slash {
  font-weight: 100;
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  display: inline-block;
  vertical-align: middle; 
}

.intro h2,
.intro-graf {
  font-style: italic;
  font-size: 1.4em;
  margin-left: -0.2em;
}

h3.sec-title {
  font-size: 1.4em;
  font-weight: 100;
}

.desc {
  text-align: center;
}

.desc .slash {
  font-size: 2.2em;
  margin: 0 -0.01em;
}

.desc h4 {
  font-size: 0.82em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.desc h5 {
  margin: 1.8em 0 1.9em -0.28em;
  font-style: italic;
  font-size: 1em;
}








